<!-- <pre>{{model.data|json}}</pre> -->
<bls-search-box ng-model="options.toolbar.search.searchedText" options="{ id : 'btn_search_one', placeholder: 'search...', searchClass: 'form-control', button: { hide: true, title: 'search',  btnClass: 'btn btn-default' }, minChars: { enbaled: true, count: 3 }}"></bls-search-box>
<bls-table ng-model="model.data"
           func-async="query(pageIndex, pageLength, searchedText, orderBy, order,filters)"
           options="options"
           total-items="model.totalItems"
           get-children="getChildren" child-items-prop="Friends">
    <bls-cols>
        <bls-col resize dragable sort field-name="id"></bls-col>
        <bls-col resize dragable sort field-name="name"></bls-col>
        <bls-col resize dragable field-name="company"></bls-col>
        <bls-col resize dragable sort title="Mail" field-name="email">{{::field|lowercase}}</bls-col>
        <bls-col resize title="Photo Profile" field-name="picture">
            <header><i class="fa fa-exclamation-triangle" style="color: #333" title="{{::field.title}}"></i></header>
            <bls-td><img style="height:18px;margin: 0 auto;" class="img-responsive" src="{{::field}}" alt="" /></bls-td>
        </bls-col>
        <bls-col resize field-name="age"></bls-col>
        <bls-col resize title="Actions" is-actions="true"></bls-col>
    </bls-cols>
</bls-table>
