<div class="page-header">
    <h1>Documentation</h1>
</div>
<h2>Default options</h2>
<pre>
var defaultOptions = {
    multiSelection: true,
    search: {
        searchText: '',
        searchClass: 'form-control'
    },
    pagination: {
        pageLength: 5,
        pageIndex: 1,
        pager: {
            nextTitle: 'Suivant',
            perviousTitle: 'Précédent',
            maxSize: 3
        },
        itemsPerPage: {
            prefixStorage: 'ipp_', //itemsPerPage storage prefix 
            selected: 10,
            range: [10, 20]
        }
    }
};
</pre>
<h2>Simple example </h2>
<pre><code>&lt;bls-grid id="ngGrid1" 
ng-model="fakeData" 
options="options"  
grid-class="table table-hover table-striped table-bordered" 
&gt;
&lt;/bls-grid&gt;</code>
</pre>
<h2>Simple Async example </h2>
<pre><code>&lt;bls-grid-async
id="ngGridAsync"
func-async="query(pageIndex, pageLength, searchedText, orderBy, order)"
options="options"
grid-class="table table-hover table-striped table-bordered"&gt;
&lt;/bls-grid-async&gt;</code>
</pre>