<table class="{{gridClass}} blsGrid" id="{{storageIds.colResizeDataKey}}">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th class="colHeader" ng-repeat="col in columns" data-original-title="{{col.id}}" ng-click="order(col.id)" ng-class={draggable:{{!isActionCol(col)}}} droppable="{{!isActionCol(col)}}" draggable="{{!isActionCol(col)}}" dragData="{{col.id}}" drop="handleDrop" drag="handleDrag"  dragImage="5">
                {{col.displayName|uppercase}}
                <i class="pull-left fa fa-sort"  ng-class="glyphOrder(col.id)"></i>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr bls-tr>
        </tr>
    </tbody>
</table>